$brand-colour: #007AFF;
$colour2: #25C196;
$accent-colour: #F9F871;
$white: #F2F2F7;
$black: #1C1C1E;
$grey1: #444655;
$black: #1C1C1E;
$default-border-radius: 9px;

.grid_system {
    top: 40+64+148px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 4.5rem);
    gap: 0.875rem; /* Gutter width */
}

.email_content {
    grid-column: 4 / 10;
    display: flex;
    flex-direction: column;
    background: $white;
    padding: 16px;
    border-radius: $default-border-radius;

    input {
        font-size: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        border: none;
    }

    textarea {
        height: 300px;
        font-size: 16px;
    }

    button {
        width: 10rem;
        height: 2.5rem;
        margin-top: 1rem;
        align-self: self-end;

        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.15px;

        border: none;
        border-radius: $default-border-radius;
        background: $black;
        color: $white;
    }
}