$nav-height: 4.5rem;
$brand-colour: #007AFF;
$colour2: #ff82b2;
$accent-colour: #F9F871;
$white: #F2F2F7;
// $white: #F7F9FF;
$black: #1C1C1E;

.grid_system {
    top: 40+64+148px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 67px);
    gap: 20px; /* Gutter width */
    row-gap: 5rem;
    // max-width: 1024px; /* Adjust based on your design */
}

.main_text {
    grid-column: 3 / 11;
}

.main_content {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 81px;

    .hero_section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 108px;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            .title {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;

                .main_title {
                    width: 1024px;

                    color: #000;
                    text-align: center;
                    font-size: 96px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 100px; /* 104.167% */
                }
                .sub_title {
                    width: 676px;

                    color: #000;
                    text-align: center;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
            .date {
                width: 154px;

                color: #000;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .hero_image {
            background-color: burlywood;
            width: 1024px;
            height: 576px;
        }
    }
    .paragraph {
        width: 676px;
    
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


@media screen and (max-width: 460px) {
    .grid_system {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 4rem);
        gap: 1rem; /* Gutter width */

        top: 96px;
        row-gap: 5rem;
        // max-width: 1024px; /* Adjust based on your design */
    }
    
    .main_content {
        grid-column: 1 / 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 81px;
    
        .hero_section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 108px;
    
            .header {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
    
                .title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0px;
    
                    .main_title {    
                        color: $black;
                        text-align: center;
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 100px; /* 104.167% */
                        width: fit-content;
                    }
                    .sub_title {
                        color: $black;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        width: fit-content;
                        line-height: 18px;
                        letter-spacing: 1px;
                    }
                }
                .date {
                    width: 154px;
    
                    color: #000;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .hero_image {
                background-color: burlywood;
                width: 1024px;
                height: 576px;
            }
        }
        .paragraph {
            width: 676px;
        
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .main_text {
        grid-column: 1 / 5;
    }
}
