.grid_system {
    top: 40+64+148px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 67px);
    gap: 20px; /* Gutter width */
    row-gap: 5rem;
    // max-width: 1024px; /* Adjust based on your design */
}

.main_text {
    grid-column: 3 / 11;
    
    h1 {

    }
}

.main_content {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 81px;

    .hero_section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 108px;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            .title {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;

                .main_title {
                    width: 1024px;

                    color: #000;
                    text-align: center;
                    font-family: Pretendard;
                    font-size: 96px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 100px; /* 104.167% */
                }
                .sub_title {
                    width: 676px;

                    color: #000;
                    text-align: center;
                    font-family: Pretendard;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
            .date {
                width: 154px;

                color: #000;
                text-align: center;
                font-family: Pretendard;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .hero_image {
            background-color: burlywood;
            width: 1024px;
            height: 576px;
        }
    }
    .paragraph {
        width: 676px;
    
        color: #000;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}



