// $card-width: 16 * 16px;
$card-height: 203px;
$card-main-color: #F8F6E3;
$border-radius: 9px;
$shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$golden-ratio: 1.618;

.grid_system {
    top: 40+64+148px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 67px);
    gap: 20px; /* Gutter width */

    // max-width: 1024px; /* Adjust based on your design */

    .hero_image {
        grid-column: 1 / 9;
        height: 394px;
        background-color: transparent;
        border-radius: $border-radius;
    }
    .new_post {
        grid-column: 9 / 13;
        background-color: rgb(210, 210, 211);
        border-radius: $border-radius;
    }
}

.card {
    position: relative;
    grid-column: span 4;
    grid-row: span 1;
    height: $card-height;
    border-radius: $border-radius;
    font-family: Pretendard;
    box-sizing: border-box;
    padding: 20px;
    .link {
        display: block;
        height: 100%;
        width: 100%;
        .title {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            color: #000;

            .main_title {
                width: 203px;
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }

            .sub_title {
                position: absolute;
                top: 117px;
                width: 203px;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            
        }
        
        .date {
            color: #000;
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .progress_bar {
            position: absolute;
            bottom: 20px;
            width: 288px;
            height: 13px;
            border-radius: 99px;
            background: #D9D9D9;
        }
        .progress_bar_achieve {
            position: absolute;
            bottom: 20px;
            width: 113px;
            height: 13px;
            border-radius: 99px;
            background: #000;
        }
    }
}

.card_hover {
    position: relative;
    margin: 10px;
    aspect-ratio: 1.618;
    border-radius: $border-radius;
    box-shadow: $shadow;

    a {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        h3 {
            position: absolute;
            top: 2px;
            color: white;
            font-size: 24px;
            font-weight: 250;
            transition: 0.3s;
        }
        .details {
            box-sizing: border-box;
            padding-left: 20px;
            padding-right: 20px;
            position: absolute;
            height: 80%;
            bottom: 0;
            right: 0;
            left: 0;
            border-radius: $border-radius;
            background-color: $card-main-color;
            transition: height 0.3s
        }
        .date {
            position: absolute;
            bottom: 3px;
            left: 4px;
            color: white;
        }
    }
}


// .display {
//     box-sizing: border-box;
//     grid-area: dis;
//     width: 100%;
//     height: 100%;
//     padding: 10px;
//     border-radius: $border-radius;
//     background-color: white;
//     box-shadow: $shadow;
// }

// .card_list {
//     width: 100%;
//     height: 100%;
//     display: grid;
//     grid-template-columns: repeat(4, 25%);
//     grid-template-rows: min-content;
    
    
//     
// }