$card-height: 203px;
$card-main-color: #F8F6E3;
$white-colour: #FFF;
$border-radius: 9px;
$shadow: inset 0px 0px 3px -2px rgba(0,0,0,0.75);
// $shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
$golden-ratio: 1.618;
$main-width: 93%;

.set_grid {
    top: 40+64+148px;
    position: relative;
    // max-width: 1024px; /* Adjust based on your design */
    display: grid;
    grid-template-columns: repeat(12, 4.8rem);
    gap: 0.87rem; /* Gutter width */
}

.set_main_grid {
    top: 40+64+148px;
    position: relative;
    // max-width: 1024px; /* Adjust based on your design */
    display: grid;
    grid-template-columns: repeat(12, 4.8rem);
    gap: 0.87rem; /* Gutter width */
    row-gap: 8rem;

    .hero_section {
        grid-column: 1 / 13;
        aspect-ratio: 2.618 / 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 0.2rem;

        .main_image {
            width: $main-width;
            height: 100%;
            background-color: transparent;
            border-radius: $border-radius;
            box-shadow: $shadow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index:-1;
                border-radius: 9px 0px 0px 9px;
            }
            .title{
                text-align: center;
                font-size: 96px;
                font-style: normal;
                font-weight: 600;
                line-height: 100px;
            }
            .category{
                width: 100%;
                top: calc(50% - 62px);
                position: absolute;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
        .side_image {
            width: calc((100% - #{$main-width}) / 2);
            height: 100%;
            background-color: transparent;
            border-radius: $border-radius;
            box-shadow: $shadow;
            color: black;
            z-index:-1;
            position: relative;
            
            img {
                width: 100%;
                height: 100%;
                z-index:-1;
                border-radius: 0px 9px 9px 0px;
                object-fit: cover; /* Ensures the image covers the entire container */
                object-position: center; /* Centers the image within the container */
            }
            .rotated_text {
                transform: rotate(90deg); /* Rotates the text by 90 degrees */
                position: relative;
                bottom: 77px;
                left: -8px;
                // transform-origin: center; /* Adjusts the origin of the transformation */
                // white-space: nowrap; /* Prevents text wrapping, useful for longer text */
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
    .new_post {
        aspect-ratio: 1.618 / 1;
        grid-column: 9 / 13;
        background-color: rgb(210, 210, 211);
        border-radius: $border-radius;
        box-shadow: $shadow;
    }
    .category_bar {
        // position: relative;
        grid-column: 1 / 13;
        display: flex;
        align-items: flex-start;
        gap: 16px;
        height: 3rem;
        top: 5rem;
        padding: 6px 724px 5px 0px;
        align-items: center;

        .button {
            border: none;
            outline: none;
            box-shadow: none;

            padding: 6px 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 25px;
            background: #000;

            color: $white-colour;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.32px;

            cursor: pointer;
        }
    }
}

.card {
    box-shadow: $shadow;
    aspect-ratio: 1.618 / 1;
    position: relative;
    grid-column: span 4;
    grid-row: span 1;
    // height: $card-height;
    border-radius: $border-radius;
    // font-family: Pretendard;
    box-sizing: border-box;
    padding: 20px;
    .link {
        display: block;
        height: 100%;
        width: 100%;
        .title {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            color: #000;

            .main_title {
                // width: 203px;
                width: 67%;
                font-size: 24px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
            }

            .sub_title {
                position: absolute;
                top: 117px;
                width: 203px;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            
        }
        
        .date {
            color: #000;
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .progress_bar {
            position: absolute;
            bottom: 20px;
            width: 288px;
            height: 13px;
            border-radius: 99px;
            background: #D9D9D9;
        }
        .progress_bar_achieve {
            position: absolute;
            bottom: 20px;
            width: 113px;
            height: 13px;
            border-radius: 99px;
            background: #000;
        }
    }
}

.card_hover {
    position: relative;
    margin: 10px;
    aspect-ratio: 1.618;
    border-radius: $border-radius;
    box-shadow: $shadow;

    a {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        h3 {
            position: absolute;
            top: 2px;
            color: white;
            font-size: 24px;
            font-weight: 250;
            transition: 0.3s;
        }
        .details {
            box-sizing: border-box;
            padding-left: 20px;
            padding-right: 20px;
            position: absolute;
            height: 80%;
            bottom: 0;
            right: 0;
            left: 0;
            border-radius: $border-radius;
            background-color: $card-main-color;
            transition: height 0.3s
        }
        .date {
            position: absolute;
            bottom: 3px;
            left: 4px;
            color: white;
        }
    }
}


// .display {
//     box-sizing: border-box;
//     grid-area: dis;
//     width: 100%;
//     height: 100%;
//     padding: 10px;
//     border-radius: $border-radius;
//     background-color: white;
//     box-shadow: $shadow;
// }

// .card_list {
//     width: 100%;
//     height: 100%;
//     display: grid;
//     grid-template-columns: repeat(4, 25%);
//     grid-template-rows: min-content;
    
    
//     
// }