$nav-height: 4.5rem;
$brand-colour: #007AFF;
$colour2: #ff82b2;
$accent-colour: #F9F871;
$white: #F2F2F7;
// $white: #F7F9FF;
$black: #1C1C1E;
$default-border-radius: 9px;

$card-height: 203px;
$card-main-color: #F8F6E3;
$white-colour: #FFF;
$border-radius: 9px;
// $shadow: inset 0px 0px 3px -2px rgba(0,0,0,0.75);
// $shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
$shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
$main-width: 93%;

.set_main_grid {
    top: 72 + 64px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 4.5rem);
    gap: 0.875rem; /* Gutter width */
    // row-gap: 4rem;
    // z-index: 99;

    .main_section {
        grid-column: 1 / 13;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;
        margin-bottom: 4rem;

        .hero_section {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            align-self: stretch;
            
            .title {
                display: flex;
                flex-direction: column;
                height: 226px;
                align-items: flex-start;
                gap: 10px;
                flex: 1 0 0;
                h1 {
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                h2 {
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
            .interactive_section {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 10px;
                flex: 1 0 0;
                align-self: stretch;
    
                text-align: right;
                .quesiton{
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                .answer{
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
        }
        .category_bar {
            display: flex;
            align-items: center;
            gap: 12px;
    
            .button {
                display: flex;
                padding: 6px 20px;
                justify-content: center;
                align-items: center;
                gap: 10px;

                border: none;
                border-radius: 25px;
                background: $black;
                // box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.30);
                outline: none;

                color: $white;

                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.03rem;
                // box-shadow: none;
    
                // padding: 6px 20px;
                // justify-content: center;
                // align-items: center;
                // gap: 10px;
                // border-radius: 25px;
                // background: #000;
    
                // color: $white-colour;
                // font-size: 16px;
                // font-style: normal;
                // font-weight: 400;
                // line-height: 24px;
                // letter-spacing: -0.32px;
    
                // cursor: pointer;
            }
            .active {
                background: $colour2;
                color: $accent-colour;
            }
        }
    }

    .card_section{
        grid-column: 1 / 13;
        display: flex;
        padding-top: 32px;
        align-items: flex-start;
        align-content: flex-start;
        gap: 14px;
        align-self: stretch;
        flex-wrap: wrap;
    }
}
    

        // .main_image {
        //     width: $main-width;
        //     height: 100%;
        //     background-color: transparent;
        //     border-radius: $border-radius;
        //     box-shadow: $shadow;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     position: relative;
        //     img {
        //         position: absolute;
        //         width: 100%;
        //         height: 100%;
        //         z-index:-1;
        //         border-radius: 9px 0px 0px 9px;
        //     }
        //     .title{
        //         text-align: center;
        //         font-size: 96px;
        //         font-style: normal;
        //         font-weight: 600;
        //         line-height: 100px;
        //     }
        //     .category{
        //         width: 100%;
        //         top: calc(50% - 62px);
        //         position: absolute;
        //         text-align: center;
        //         font-size: 24px;
        //         font-style: normal;
        //         font-weight: 500;
        //         line-height: normal;
        //     }
        // }
        // .side_image {
        //     width: calc((100% - #{$main-width}) / 2);
        //     height: 100%;
        //     background-color: transparent;
        //     border-radius: $border-radius;
        //     box-shadow: $shadow;
        //     color: black;
        //     z-index:-1;
        //     position: relative;
            
        //     img {
        //         width: 100%;
        //         height: 100%;
        //         z-index:-1;
        //         border-radius: 0px 9px 9px 0px;
        //         object-fit: cover; /* Ensures the image covers the entire container */
        //         object-position: center; /* Centers the image within the container */
        //     }
        //     .rotated_text {
        //         transform: rotate(90deg); /* Rotates the text by 90 degrees */
        //         position: relative;
        //         bottom: 77px;
        //         left: -8px;
        //         // transform-origin: center; /* Adjusts the origin of the transformation */
        //         // white-space: nowrap; /* Prevents text wrapping, useful for longer text */
        //         font-size: 16px;
        //         font-weight: 300;
        //     }
        // }
    
//     .new_post {
//         aspect-ratio: 1.618 / 1;
//         grid-column: 9 / 13;
//         background-color: rgb(210, 210, 211);
//         border-radius: $border-radius;
//         box-shadow: $shadow;
//     }
//     .category_bar {
//         // position: relative;
//         grid-column: 1 / 13;
//         display: flex;
//         align-items: flex-start;
//         gap: 16px;
//         height: 3rem;
//         top: 5rem;
//         padding: 6px 724px 5px 0px;
//         align-items: center;

//         .button {
//             border: none;
//             outline: none;
//             box-shadow: none;

//             padding: 6px 20px;
//             justify-content: center;
//             align-items: center;
//             gap: 10px;
//             border-radius: 25px;
//             background: #000;

//             color: $white-colour;
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px;
//             letter-spacing: -0.32px;

//             cursor: pointer;
//         }
//     }
// }


.card {
    color: inherit;
    text-decoration: none;

    grid-column: span 3;
    grid-row: span 1;
    aspect-ratio: 1;

    overflow: hidden;

    display: flex;
    flex-direction: column;

    padding: 16px 14px;
    justify-content: space-between;
    align-items: flex-end;
    
    border-radius: 9px;
    background: $white;
    // box-shadow: $shadow;

    .title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;

        .main_title {
            // align-self: stretch;
            flex: 1 0 0;
            color: $black;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 31px; /* 96.875% */
            width: 61.8%;
        }

        .rectangle {
            width: 64px;
            height: 64px;
            // width: 38.2%;
            // aspect-ratio: 1;
            background-color: $colour2;
        }
        
    }
    
    .context {
        align-self: stretch;
        color: $black;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 112.5% */
        letter-spacing: 0.16px;
        // overflow: hidden;
    }

    .tag_section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 7px;

        .tags {
            display: flex;
            align-items: center;
            gap: 16px;

            p {
                text-align: center;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 0px; /* 0% */
            }
        }

        .underline {
            height: 2px;
            align-self: stretch;
            background: $black;
        }
    }
}

.cavas_size {
    grid-column: span 3;
    aspect-ratio: 1;
}


@media screen and (max-width: 460px) {
    .set_main_grid {
        top: 72px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 4rem);
        gap: 0.75rem; /* Gutter width */
        // row-gap: 4rem;
        // z-index: 99;
    
        .main_section {
            grid-column: 1 / 5;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            align-self: stretch;
            margin-bottom: 4rem;
    
            .hero_section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;
                
                .title {
                    display: flex;
                    flex-direction: column;
                    height: 226px;
                    align-items: flex-start;
                    gap: 10px;
                    flex: 1 0 0;
                    h1 {
                        font-size: 64px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        // width: auto;
                    }
                    h2 {
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 500;
                        // width: auto;
                    }
                }
                .interactive_section {
                    display: none;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                    gap: 10px;
                    flex: 1 0 0;
                    align-self: stretch;
        
                    text-align: right;
                    .quesiton{
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                    .answer{
                        font-size: 64px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }
            }
            .category_bar {
                display: flex;
                align-items: center;
                gap: 12px;
                flex-wrap: wrap;
        
                .button {
                    display: flex;
                    padding: 6px 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
    
                    border: none;
                    border-radius: 25px;
                    background: $black;

                    outline: none;
    
                    color: $white;
    
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.03rem;
                }
                .active {
                    background: $colour2;
                    color: $accent-colour;
                }
            }
        }
    
        .card_section{
            grid-column: 1 / 13;
            display: flex;
            padding-top: 32px;
            align-items: flex-start;
            align-content: flex-start;
            gap: 14px;
            align-self: stretch;
            flex-wrap: wrap;
        }
    }

    .card {
        color: inherit;
        text-decoration: none;
    
        grid-column: span 4;
        grid-row: span 1;
        aspect-ratio: 1;
    
        overflow: hidden;
    
        display: flex;
        flex-direction: column;
    
        padding: 16px 14px;
        justify-content: space-between;
        align-items: flex-end;
        
        border-radius: 9px;
        background: $white;
        // box-shadow: $shadow;
    
        .title {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            align-self: stretch;
    
            .main_title {
                // align-self: stretch;
                flex: 1 0 0;
                color: $black;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 31px; /* 96.875% */
                width: 61.8%;
            }
    
            .rectangle {
                width: 64px;
                height: 64px;
                // width: 38.2%;
                // aspect-ratio: 1;
                background-color: $colour2;
            }
            
        }
        
        .context {
            align-self: stretch;
            color: $black;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 112.5% */
            letter-spacing: 0.16px;
            // overflow: hidden;
        }
    
        .tag_section {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 7px;
    
            .tags {
                display: flex;
                align-items: center;
                gap: 16px;
    
                p {
                    text-align: center;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 0px; /* 0% */
                }
            }
    
            .underline {
                height: 2px;
                align-self: stretch;
                background: $black;
            }
        }
    }

    .cavas_size {
        grid-column: span 4;
        aspect-ratio: 1;
    }
}